Reminder: MRI Scan <mmdd> @ <time>
Hi <name>,

Just a reminder that <you> are scheduled for a <duration> <session> <day> at <time>.

If something comes up please call me before your scheduled time at either 603-646-0155 (the scanner room) or <cell> (my cell).

See you then!
<from>
